.shorten{
    height: 300px;
    padding-top: 15px;
    padding-bottom: 0px;
}

.artist_name{
    color: white;
    text-align: left;
    margin-left: 120px;
}

.left{
    text-align: left;
}

.float-right{
    color: white;
    height: 50%;
    width: 50%;
    font-style: italic;
    padding-top: 100px;
}


.artistServices{
    text-align: left;
    padding-left: 20px;
}
#specialE{
    width: 60%;
    border-color: black;
    border: 10px solid rgba(0, 0, 0, 0.125);
   
}

#aButton{
    
    float: right;
}