.shorten{
    height: 300px;
    padding-top: 15px;
    padding-bottom: 0px;
    background-position: center;
}

.artist_name{
    color: white;
    text-align: left;
    margin-left: 120px;
}

.left{
    text-align: left;
}

.float-right{
    color: white;
    height: 50%;
    width: 50%;
    font-style: italic;
    padding-top: 100px;
}


.artistServices{
    text-align: left;
    padding-left: 20px;
}
#specialE{
    width: 60%;
    border-color: black;
    border: 15px solid black;
   border-style: groove;
   margin-left: 20px;
}

#aButton{
    
    float: right;
}

/*.photoSample{*/
/*    height: 100px;*/
/*    width: 200px;*/
/*}*/
.rowA {
  display: flex;
  flex-wrap: wrap;
  /*padding: 0 4px;*/
  float: right;
  width: 33%;
  position: static;
  height: 150px;
 
}
/*.rowB {*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  padding: 0 4px;*/
/*  float: right;*/
 
/*}*/

/*.column {*/
  /*flex: 50%;*/
/*  padding:none;*/
  /*width: 200px;*/
/*}*/

.column img {
  margin-top: -200px;
  vertical-align: middle;
  height: 150px;
}

.column {
    float: left;
    width: 35%;
    padding: 10px;
    /*margin:auto;*/
    /*height: 300px;*/
}

#one{
    /*margin-top: 50px;*/
    margin-bottom: 90px;
}

.specialTitle{
    margin-left: 20px;
}

